
body{
    background-color: rgba(226, 241, 241, 0.616);
}
h1{
    font-size: 40px;
    color: rgba(17, 16, 16, 0.596);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}   
h2{
    font-size: 40px;
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
}   
h3{
    font-size: 2em;
    color: grey;
}   
p{
    font-size: 20px;
    color: #777777;
    text-align: center;
    background-color: #4aaaae;
}
.container{
    background-color:rgb(0,0,0);
    background-image:url(http://www.zingerbugimages.com/backgrounds/gray_parchment_paper_wallpaper_texture_seamless.jpg);
    background-position:top left;background-repeat:repeat;
    background-attachment:fixed;
    display: flex;
    flex-direction: column;
}

.top{ 
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.name{
    margin-left: 165px;
    background-color: #4aaaae;
    flex-basis: 30%;
    text-align: center;
}
.header{
    display: flex;
    flex-basis: 40%;
    align-items: flex-end;

}
.linkText{
    font-size: 2.5em;
    text-align: center;
    font-style: normal;

}
.textLink:link{
    color: blue;
}
.textLink:visited{
    color: red;
}
.aboutMe{
    border-left: 1px;
    border-right: 1px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    flex:1;
    
}
.portfolio{
    border-left: 4px solid slategrey;
    border-right: 2px solid slategrey;
    text-align: center;
    flex:1;

}
.contact{
    border-left: 2px solid slategrey;
    border-right: 2px solid slategrey;
    text-align: center;
    flex:1;
}
.mdl{
    display: flex;
    border-top: slateblue solid 15px;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap:wrap;
}
.about{
    background-color: white;
    flex-basis:50%;
}
.title1{
    border-bottom: solid;


}

.thedog{
    float: left;
    margin: 20px;
    }
.links{
    padding: 10px;
    background-color: white;
    flex-basis:20%;
    text-align: center;
    margin-right: 50px;
}
.title2{
    border-bottom: solid;
}
.linkImgs{
    padding: 10px;
    display: flex;
}
.bdm{
    background-color


}
.input{
    width: 100%;
    border: none;
    
    margin: 2px ;
    outline: none;
    
    
}
.yourName{
    margin: 10px;
    width: auto;
}
.yourEmail{
    margin: 10px;
}
.yourPhonenumber{
    margin: 10px;
}




.comments{
    height: 20px;
    width: 85%;
    float: left;
    text-align: center;

    box-sizing: border-box;
    margin-top: 150px;
    margin-left: 85px;

}
.submit{
    margin-top: 25px;
    margin-left: 20px;
    color: blue;
    

    
}
#box1{
    height: 115px;
    width: 150px;
    font-size: 20px;
    
    background-color: #4aaaae;
    border: 1px solid;
    float: left;
    margin: 60px;
    margin-left: 200px;
    border-top: 35px solid slategray;
    
    
    

}
    #box2{
        height: 115px;
        width: 150px;
        background-color: #4aaaae;
        align-content: center;
        border: 1px solid;
        float: left;
        margin: 60px;
        margin-left: 280px;
        border-top: 35px solid slategrey;
        font-size: 20px;
    
        
        
        
        

    }
    #box3{
        height: 115px;
        width: 150px;
        background-color: #4aaaae;
        border: 1px solid;
        float: left;
        margin: 60px;
        margin-left: 200px;
        border-top: 35px solid slategrey;



        

    }
    #box4{
        height: 115px;
        width: 150px;
        background-color: #4aaaae;
        border: 1px solid black;
        float: left;
        margin: 60px;
        margin-left: 280px;
        border-top: 35px solid slategrey;

    }
    #box5{
        height: 115px;
        width: 150px;
        
        background-color: #4aaaae;
        border: 1px solid black;
        float: left;
        margin: 60px;
        margin-left: 200px;
        border-top: 35 px solid slategrey;
    }
    .text1{
        font-size: 25px;
        margin: ;
        margin-top: 25px;
        line-height: -10px;
        color: #777777;
        font-family: Arial, Helvetica, sans-serif;
    
        
        
    
        
    }
    .clearfix:after{
        content: " ";
        display: table;
        clear: both;
    }
    footer{
        background-color: #666666;
        text-align: center;
        color: black;
        padding: 10px;
    }
    


