
body{
    background-image: url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
;
background-attachment: fixed;
background-position: center;

}
.lead{
    color: rgb(170, 233, 227);
    text-align: center;
}
.jumbotron{
    background-image: url(https://images.unsplash.com/photo-1565361587753-6c55978411d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);
    width: 100%;
    
}
h1{
    color: rgb(170, 233, 227);
    text-align: center;
}
.navbar{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    

}


footer{
    text-align: center;
    background-color: grey;
    color: rgb(170, 233, 227);
    position: fixed;
    bottom: 0;
    width: 100%;
   
}

.button-1 {
    margin-left: 30px;
}
.button-2 {
    margin-left: 10%;
}

.quiz-btn {
    margin-left: 10%;
}

.main {
    font-size: 30px;
}
h2 {
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}
.skills {
    margin-left: 10px;  
}
li {
    font-size: larger;
}
.skills-a {
    display: inline-block;
}
.skills-b {
    display: inline-block;
    margin-left: 35px;
}
.clockin-btn {
    margin-left: 8%;
}
.nirvana-btn {
    margin-left: 2%;
}
.gambler-btn {
    margin-left: 5%;
}
.tetris-btn {
    margin-left: 11%;
}
.scheduler-btn {
    margin-left: 3%;
}